:root {
    --canvas: #0b1020;
    --panel: #0f172a;
    --card: #0b1220;
    --muted: #94a3b8;
    --primary: #38bdf8;
    --selected: #22c55e;
    --alpha: 70%;
    --border: #1f2937;
    --text: #e2e8f0;
    --font-sans: Consolas;
}

/* Font */

body {
    font-family: var(--font-sans);
}

/* Colors */

.bg-canvas {
    background-color: var(--canvas) !important;
}

.bg-panel {
    background-color: var(--panel) !important;
}

.bg-card {
    background-color: var(--card) !important;
}

.text-muted {
    color: var(--muted) !important;
}

.border {
    border-color: var(--border) !important;
}

/* Layout */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    height: 100vh;
}

@media (max-width: 992px) {
    .main-grid {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

/* SVG */

svg {
    width: 100%;
    height: 100%;
    display: block;
}

svg text {
    font-size: 12px;
    fill: var(--text);
}

/* Nodes */

.node {
    cursor: move;
}

.node rect {
    fill: var(--card);
    stroke: var(--primary);
    stroke-width: 1.6;
    rx: 10;
    ry: 10;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, .55));
}

.node.selected rect {
    stroke: var(--selected);
    stroke-width: 2;
}

.node .title {
    font-weight: 700;
    fill: var(--text);;
}

/* Packages */

.package rect.body {
    fill: var(--card);
    stroke: var(--muted);
    stroke-width: 1.4;
    rx: 12;
    ry: 12;
    filter: drop-shadow(0 6px 16px rgba(0, 0, 0, .5));
}

.package rect.header {
    fill: var(--panel);
    stroke: var(--primary);
    stroke-width: 1.2;
    rx: 6;
    ry: 6;
    cursor: move;
}

.package text {
    fill: var(--text);
    font-weight: 600;
}

/* Handles */

.handle {
    fill: var(--selected);
}

.handle.se,
.handle.nw {
    cursor: nwse-resize;
}

.handle.ne,
.handle.sw {
    cursor: nesw-resize;
}

.handle.n,
.handle.s {
    cursor: ns-resize;
}

.handle.e,
.handle.w {
    cursor: ew-resize;
}

/* Associations */

.edge {
    stroke: #cbd5e1;
    stroke-width: 1.6;
}

.edge.dashed {
    stroke-dasharray: 6 4;
}

.edge.association {
    marker-end: url(#arrowAssoc);
}

.edge.generalization {
    marker-end: url(#arrowTriHollow);
}

.edge.realization {
    marker-end: url(#arrowTriHollow);
}

.edge.dependency {
    marker-end: url(#arrowAssoc);
}

.edge.aggregation {
    marker-start: url(#diamondOpen);
}

.edge.composition {
    marker-start: url(#diamondSolid);
}

/* Cursors */

#gridRect {
    cursor: grab;
}

.panning #gridRect {
    cursor: grabbing;
}